<!DOCTYPE html>
<html lang="sk">

<head>
    <%- include("partials/head"); %>
</head>

<body>
<header>
    <%- include("partials/header"); %>
</header>

<nav>
    <%- include("partials/nav", menu); %>
</nav>

<main>
    <h1 id="notFound">404 not found</h1>
</main>
<aside id="right_panel">
    <%- include("partials/right_panel"); %>
</aside>

<footer>
    &copy; <a href="http://www.transylwahnja.eu">www.transylwahnja.eu</a>, 2006-2007
</footer>
</body>

</html>