<aside id="info_banner">
</aside>
<section id="main_content">
    <h1>Kompostovanie</h1>
    <article>
        <h3>MÁTE PROBLÉMY S KOMPOSTOVANÍM?</h3>
        <p>
            Obce a mestá majú od 1. januára 2006 novú povinnosť. Musia zabezpečiť zhodnotenie bioodpadu zo záhrad,
            parkov, cintorínov a z ďalšej zelene, teda tzv. zeleného bioodpadu. Nesmú ho spaľovať ani skládkovať.
            Ponúkame Vám riešenie s bohatou ponukou praktických služieb a poradenstva.
            Naša rodinná farma získala certifikát ekologického poľnohspodárstva s produkciou biopotravín.
        </p>
        <a href="javascript:popImage('foto/kompost1.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/kompostm1.jpg" alt="kompost">
        </a>
        <a href="javascript:popImage('foto/kompost11.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/kompostm11.jpg" alt="kompost">
        </a>
        <a href="javascript:popImage('foto/kompost14.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/kompostm14.jpg" alt="rezačka">
        </a>
        <p>V súvislosti s prevádzkou ekologickej „BIOFARMY“ máme už niekoľkoročnú prax s praktickým kompostovaním. </p>
        <h3>PONUKA SLUŽIEB</h3>
        <h4>1. PORADENSTVO</h4>
        <ul>
            <li>týkajúce sa kompostovania v mestách a obciach</li>
            <li>návšteva obce s obhliadkou a návrhom praktického riešenia</li>
            <li>vypracovanie technologického postupu nakladania s bioodpadom s ohľadom na individuálne podmienky mesta/obce</li>
            <li>poradenstvo pre skvalitnenie prevádzky</li>
            <li>overovanie kvality a zrelosti kompostu</li>
        </ul>
        <h4>2. ŠKOLENIA</h4>
        <ul>
            <li>1-dňová exkurzia s praktickou ukážkou prevádzky kompostovania</li>
            <li>2-dňový praktický kurz pre prevádzkárov kompostovísk v obciach a mestách</li>
            <li>možnosť ďalšieho rozšírenia vzdelania na 4-dňovom kurze pod vedením špičkových zahraničných lektorov</li>
            <li>aktivity pre podporu domáceho kompostovania</li>
        </ul>
        <h3>FOTOGALÉRIA</h3>
        <a>Kompostovanie na ranči Transylwahnja</a>
    </article>
</section>