<aside id="info_banner">
</aside>
<section id="main_content">
    <h1>O nás</h1>
    <article>
        <ul>
            <li>Katarina Pipová je diplomovanou ošetrovateľkou zvierat</li>
            <li>Máme dve deti: Charly 1999, Enya 2001</li>
            <li>Materinský jazyk: nemčina/slovenčina, ešte ovládame angličtinu a madarčinu</li>
        </ul>
        <p>
            V roku 1993 som sa presťahovala zo Švajčiarska na Slovensko. Na našej farme hospodárime podľa biologických zásad. Náš dvor leží v idylickej doline, v juhovýchodnej časti Slovenska, na južnej trase z Bratislavy do Košíc. Najbližšie ležiaca dedina sa nazýva Nižná Kaloša a leží medzi Rimavskou Sobotou a Tornaľou.
            Obhospodarujeme 28 ha rodinnej farmy s dobytkárstvom, poľnohospodárstvom, pasienkami, ovocným sadom, lesom a kontrolovaným prameňom pitnej vody. Chod celého hospodárstva si zabezpečíme z 90 % z vlastných prostriedkov, samozásobovaním vytvárame rôzne produkty z nášho mlieka a pečieme z našich obilnín.
            Z rodinných dôvodov sme farmu pár rokov prenajímali. Teraz už gazdujeme my.
        </p>
        <h3>Ranch Transylwahnja 2. kapitola</h3>
        <a href="javascript:popImage('foto/2018onas.jpg',':: RANČ TRANSYLWAHNJA :: ','');">
            <img src="foto/2018onas_m.jpg" alt="O nás 2">
        </a>
        <p>Roland a Katarína: tím obnovy od roku 2017 so štyrmi nohatými a štyrmi kolesovými pomocníkmi. </p>
    </article>
</section>